* {
  box-sizing: border-box;
  justify-content: center;
}

body {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

main {
  display: flex;
}

#mancala-title {
  display: flex;
  color: black;
  font-size: 200;
  font-weight: 700;
  justify-content: center;
}

#player-1 {
  grid-column-start: 1;
  grid-row: span 1 / 2;
  height: 150px;
  display: grid;
  border-radius: 40%;
  border: 10px black;
  color: whitesmoke;
  opacity: 0.5;
  margin: 5px;
  padding: 10px;
  z-index: 1;
}

#player-2 {
  grid-column-start: 8;
  grid-row: span 1 / 2;
  height: 150px;
  display: grid;
  border-radius: 40%;
  border: 10px black;
  color: whitesmoke;
  opacity: 0.5;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

#container {
  display: grid;
  justify-content: center;
  grid-template-rows: 80px 80px;
  grid-template-columns: 100px 80px 80px 80px 80px 80px 80px 100px;
  border: 10px black;
  background-color: rgb(252, 136, 250);
  padding: 15px;
  border-radius: 5%;
}

#container :nth-child(9) {
  order: 14;
}
#container :nth-child(10) {
  order: 13;
}
#container :nth-child(11) {
  order: 12;
}
#container :nth-child(12) {
  order: 11;
}
#container :nth-child(13) {
  order: 10;
}
#container :nth-child(14) {
  order: 9;
}

.pocket {
  grid-column-start: 2 / 7;
  margin: 6px;
  padding: 4vmin;
  border-radius: 40%;
  color: black;
  text-align: center;
  background-color: white;
}

#replay-btn {
  justify-content: center;
  background-color: rgb(232,46,229);
  color: white;
  text-align: center;
  height: 8vmin;
  width: 20vmin;
  border-radius: 15%;
}

#hidden {
  z-index: 0;
  opacity: 0;
}